
.definition{
    @extend %section_width;
    padding: 120px 0;
    @include respond-to(tablet){
        padding: 100px 0 80px 0;
    }
    @include respond-to(mobile){
        padding: 80px 0 70px 0;
    }
}

.definition_text span{
    @include respond-to(mobile){
        color: $blue;
        font-weight: 700;
    }

}