.header{
    background: $white;
    padding: 0 15px;
    width: 100%;    
    position: sticky;
    z-index: 100;
    top: 0;
    
}
.header_wrapper{
    @extend %flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
    min-height: 68px;
    position: relative;
    
}
.header_inner{
    @extend %flex;    
    min-height: 68px;
    @include respond-to(1023px){
        max-width: 20px; 
    }
}

.contacts{
    display: flex;
    align-items: center;
    margin-left: 35px;
    @include respond-to(1023px){
        display: none;
    }
}
.contacts_phone{
    color: $white;
    font-weight: 700;
    width: 175px;
    line-height: 36px;
    background: $blue;   
    padding: 2px 10px;
    border-radius: 5px;
    text-align: center; 
    @include respond-to(mobile){
        font-size: rem(14);
        width: 145px;
    }   
}
