// .getstarted{
//     @extend %section_padding;
//     @extend %section-color;    
// }

.getstarted_subtitle{
    display: block;
    color: black;
    font-size: rem(16);
    text-transform: capitalize;
    margin-top: 10px;

}


